@charset "utf-8";

body {

	background-color: #DFDEDF;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
	color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
	color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
	to(transparent));
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
	transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
	transparent 75%, transparent);


	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,                          transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,                          transparent 75%, transparent);


}
::-webkit-scrollbar {
width: 12px;
}
::-webkit-scrollbar-track {
background-color: #eaeaea;
border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
background-color: #aaa;
}
::-webkit-scrollbar-thumb:active{
background-color:#333;
}

.mySHeight{
// 一个特殊高度,chrome正常;

height: calc(100% - 50px);

height:90%;  //为了兼容firefox;
}

.glyphicon-time:before {
content: "\e023";
-webkit-animation: spin 2s infinite linear;
}
.svn{
	//text-decoration: blink;//去除下划线.
	
}
#sss td:nth-child(3){
  max-width:200px;
  // 规定第3列不能太长;
}
.gbtn{
//给按钮太长时隐藏,然后给提示框;
	overflow:hidden!important;
	text-overflow: ellipsis !important;
}
.buleBar{
	z-index: 10;
	background: #5579BA;
	color: #fff;
//	position: fixed;
	top: 0;
	right: 0px;
	padding: 0 20px 0 10px;
	line-height: 30px;
//	height: 35px;
	box-shadow: 0 -5px 50px #666;
	margin-bottom: 10px;
}
.noborder{
	//border:0px;
}
.navbar{
 	min-height: 40px !important;
	margin-bottom: 20px;
	border-radius: 0px;
	 //修正所有的样式,因为太高....
}
.navbar-brand {
  height: 40px;
}
.myPathT{
 position: absolute;
 bottom: 0px;
 left: 225px;
}
.myline1{
	//border: 1px solid blue;
 
	background: 	#f0ad4e;
	height: 5px

}
.myline2{
	//border: 1px solid blue;
 
	background: blue;
	height: 5px
}
.myline3{
	//border: 1px solid blue;
		background: black;
	height: 5px
}
.myTem{
	border: 1px solid blue;
	display:inline;
	border-right: 1px;
}
.myTemRed{
	border: 1px solid red;
	display:inline;
	border-right: 1px;
	color: rgb(248, 248, 248);
	background: red;
}
.myPre{
	border: 1px solid blue;
	display:inline;
	background:blue;
	color:wheat;
}
.myF{
	width:70%;
	display:inline;
	float:left;
	border: 1px solid;
}
.myFile{
	height: 100%;
	width: 100%;
	position: absolute;
	cursor: pointer;
	top: 0;
	left:-5px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index: 2;
}
.myFile2{
	position: relative;
	width:14%;
}
#sss{
//	width: 1200px;
}
#sss td{
	//width: 25px;
	table-layout: fixed;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#sss td:hover{
 
	overflow:hidden;
 	white-space:normal;
	text-overflow:ellipsis;
}
.myMiddle{
	width: 20%;
	height: 100%;
	text-align: left;
	float:left;
//display: inline
}

.myMainIP:after {
	font-family: 'Glyphicons Halflings' ;
    content: "\e095";
}
.myPicIP:after {
	font-family: 'Glyphicons Halflings' ;
    content: "\e089";
}
.myRight{
	float:right;
}
.myCenter{
	text-align: center;
}
.myBtn{
	background: #337ab7;
	color: #fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.myLeft{
	float: left
}
.btn-primary[disabled]{
	background-color: #444444
}
.myBlock{
	display: block
}
.mySpace{
	margin-left: 50px;
	
}
.grFix{
margin-left: 8px;
}

.manPin{
 //让中心表格在屏中,下方分页条在下方;
 height:90%;
 max-height: 800px;
 min-height: 500px;
 //border-left: solid 1px #ddd;
}
.myWidth{
	 width: 120px;
}
.pleft0{
	padding-left: 0px;
	padding-right: 0px;
}
.myTable{
	//  border: solid #000 1px;
	  width: 100%;
	
} 
.myTable td{
	//  border: solid #000 1px;
} 
.myTi{
	 background: rgba(59, 189, 41, 0.37);
	 font-weight: bold;
     border: 1px solid #413030;
      border-right-color: rgb(105,105,105); 	 
}
.mybor{
	border:2px solid #9494EC;// !important;
}
.myTsh:after{
	// 把表格做成标签模式;
content: " ";
margin-top: -19px;
margin-left: -75px;
position: absolute;
border-width: 20px;
width: 95px;
border-style: solid;
border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(5, 35, 253, 0.5) rgba(72, 75, 145, 0);
}
.myTsh2:after{
	// 把表格做成标签模式;
content: " ";
margin-top: -19px;
margin-left: -75px;
position: absolute;
border-width: 20px;
width: 95px;
border-style: solid;
border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(5, 5, 5, 0.39) rgba(72, 75, 145, 0);
}
.myTi2:before{
//	 content:" ";
	 display: block;
	 position: absolute;
	border-width: 14px;
	
	border-style: solid dashed dashed;
 	 border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(252, 246, 246, 0)  rgb(85,85,85); 	 
 		margin-left: -15px;
 		margin-top: -4px
}
.myTi2{
	    border-left-color: rgb(105,105,105); 	 
//	 background: white;
	 border: 1px solid #413030;
	 text-align:left;
	 width: 40%;
    padding-left: 15px !important;

}

.myWarn{
	 color:red;
} 
.myBtn{
	cursor: pointer
}
 
 .popover{
 max-width:600px;
 }
.pagination{
	 margin:0; 
}
.myActive{
    height:0;
    border-width:30px 0 30px 30px;
    border-style:solid;
    border-color:transparent transparent transparent #333;/*透明 透明 透明 灰*/
    margin:40px auto;
    position:relative;
}
.myTd{
	overflow:hidden;   /*隐藏 表格中过多的字*/
	max-width:150px
}


 .side-nav {
margin-left: -12%;
left: 12%;
width: 12%;
position: fixed;
top: 50px;
height: 100%;
border-radius: 0;
border: none;
background-color: #222222;
overflow-y: auto;
}
.mycore{
	margin-left: 12%;
	//margin-top: 50px;
	padding: 5px 15px;
	width:88%;
}
 
.myPath {
   padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
  //  padding-left: 0px;
    background-color:#5579BA;
    margin-bottom: 0px;
 }
 .myPath a {
    color:black;
  }
  .fixB{
    margin-right:15px;
  }
 .opover-content{
   	padding: 5px 5px !important;
  }
  .btvdclass{
 	width: 100%;
  }
.myh2{
	 margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    margin-top: -10px;

}
.myh2:hover{
    cursor:default;
}
.groupQfix{
margin-bottom: 15px;
}

.popfix{
 	width:200px;
 }
.bblue {
background-color: #00A0FF;
}

.head_info{
	font-size:15px;
	font-family:Microsoft YaHei
}


.head_platform{
	text-align:center;
	font-size:35px;
	font-family:Microsoft YaHei
}

.linkA {
	font-size: 16px;
	color: #fff;
	text-align: left;
	width: 1300px;
	line-height: 74px;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	font: 14px/1.42857 "Microsoft YaHei", SimSun, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	display: block;
}

.linkA a {
	letter-spacing: 2px;
	margin: auto 10px;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	font: 14px/1.42857 "Microsoft YaHei", SimSun, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	text-align: right;
}

.linkA a:hover {
	letter-spacing: 2px;
	margin: auto 10px;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	font: 14px/1.42857 "Microsoft YaHei", SimSun, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	text-align: right;
	background-color: #ffffff;
}

.linkB a {
	letter-spacing: 2px;
	margin: auto 10px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	font: 14px/1.42857 "Microsoft YaHei", SimSun, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	text-align: right;
}
.page {
	margin-top: 30px;
}

.container {
	width: 1000px;
}
.navbar-inverse {
background-color: #222;
border-color: #080808;
box-shadow: 0 -5px 50px #727272;
}
.aboutUs {
	border: 1px solid #e6e6e6;
	margin-bottom: 40px;
	box-shadow: 0 -5px 50px #CAC7C7;
//	cursor:pointer;
//height:200px;
}

.aboutUs:hover {
	border: 1px solid #f6821a;
	margin-bottom: 40px;
//cursor:pointer;
//	height:170px;
}
	
.au_head:hover{
	
//	background-color:#0F0;
	}
	
.au_head {
	background-image: none;
	text-indent: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
	padding: 0 25px;
	height: 50px;
	border-bottom: 1px solid #e6e6e6;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
}

.au_body {
}

.au_body>p {
	margin: 25px;
	font-size: 16px;
	line-height: 200%;
	vertical-align: baseline;
}

 

.mymenu {
	height: 70px;
	background: #f08080;
	text-align: center;
	font-family: Microsoft YaHei;
	cursor:pointer;
}

.mymenu2 {
	height: 70px;
//	background: #80ff00;
	text-align: center;
	font-family: Microsoft YaHei;
	cursor:pointer;
}

.table3{
	//	border-radius:25px;
		box-shadow: 10px 10px 5px #888888;
		border: 2px solid ;
		margin-bottom: 10px;
	
}
.table3>tbody>tr>td{
	//	padding:3px !important;
		padding:3px  
}
 
 
.table4{
	margin-bottom: 5px;
} 

.tag{
 
    border:5px solid #09F;
    position:relative;
    background-color:#FFF;
}
.tag:before,.tag:after{
    content:"";display:block;
    border-width:20px;
    position:absolute; bottom:-40px;
    left:100px;
    border-style:solid dashed dashed;
    border-color:#09F transparent transparent;
    font-size:0;
    line-height:0;
}
.tag:after{
    bottom:-33px;
    border-color:#FFF transparent transparent;
}

.table3 tbody td:nth-child(even){

 
//background-color: #444;
color: #1414AA;
border-bottom: 1px solid #444;
//background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(246, 241, 241)), color-stop(0.7, rgb(224,224,224)) );
 //   text-shadow:1px 1px 1px #fff;
}
.table3 tbody td:nth-child(odd){
    background-color:#478873;
    color:#f0f0f0;
    border-bottom:1px solid #444;
 //   background:-webkit-gradient(        linear,        left bottom,        left top,        color-stop(0.39, rgb(85,85,85)),        color-stop(0.7, rgb(105,105,105))        );
//	background: -moz-linear-gradient(center bottom, rgb(85, 85, 85) 39%,	rgb(105, 105, 105) 70%); //
	text-shadow:1px 1px 1px #000;
}
 
ul#progress {
list-style: none;
position: absolute;
top: 50%;
left: 50%;
//width: 125px;
//margin: 0 auto;
//padding-top: 50px;
//padding-bottom: 50px;
}

ul#progress li {
/* Style your list */
float: left;
position: relative;
width: 15px;
height: 15px;
//border: 1px solid #fff;
border-radius: 50px;
margin-left: 10px;
//border-left: 1px solid #111;
//border-top: 1px solid #111;
//border-right: 1px solid #333;
//border-bottom: 1px solid #333;
//background: #000;
}

ul#progress li:first-child {
margin-left: 0;
} /* Remove the margin first li element */

.ball {
/* Style your ball and set the animation */
background-color: #2187e7;
background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff);
background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff);
width: 15px;
height: 15px;
border-radius: 50px;
-moz-transform: scale(0);
-webkit-transform: scale(0);
-moz-animation: loading 1s linear infinite forwards;
-webkit-animation: loading 1s linear infinite forwards;
}

.pulse {
/* Style your second ball to create the amazing effects */
width: 15px;
height: 15px;
border-radius: 30px;
border: 1px solid #00c6ff;
box-shadow: 0 0 5px #00c6ff;
position: absolute;
top: -1px;
left: -1px;
-moz-transform: scale(0);
-webkit-transform: scale(0);
-webkit-animation: pulse 1s ease-out;
-moz-animation: pulse 1s ease-out;
}

/* Control Layers */
#layer1 {
-moz-animation-delay: 0.5s;
-webkit-animation-delay: 0.5s;
}

#layer2 {
-moz-animation-delay: 1s;
-webkit-animation-delay: 1s;
}

#layer3 {
-moz-animation-delay: 1.5s;
-webkit-animation-delay: 1.5s;
}

#layer4 {
-moz-animation-delay: 2s;
-webkit-animation-delay: 2s;
}

#layer5 {
-moz-animation-delay: 2.5s;
-webkit-animation-delay: 2.5s;
}

#layer7 {
-moz-animation-delay: 1.5s;
-webkit-animation-delay: 1.5s;
}

#layer8 {
-moz-animation-delay: 2s;
-webkit-animation-delay: 2s;
}

#layer9 {
-moz-animation-delay: 2.5s;
-webkit-animation-delay: 2.5s;
}

#layer10 {
-moz-animation-delay: 3s;
-webkit-animation-delay: 3s;
}

#layer11 {
-moz-animation-delay: 3.5s;
-webkit-animation-delay: 3.5s;
}

@-moz-keyframes loading {
0% {
-moz-transform: scale(0,0);
}

100% {
-moz-transform: scale(1,1);
};
}

@-webkit-keyframes loading {
0% {
-webkit-transform: scale(0,0);
}

100% {
-webkit-transform: scale(1,1);
};
}

@-moz-keyframes pulse {
0% {
-moz-transform: scale(0);
opacity: 0;
}

10% {
-moz-transform: scale(1);
opacity: 0.5;
}

50% {
-moz-transform: scale(1.75);
opacity: 0;
}

100% {
-moz-transform: scale(0);
opacity: 0;
};
}

@-webkit-keyframes pulse {
0% {
-webkit-transform: scale(0);
opacity: 0;
}

10% {
-webkit-transform: scale(1);
opacity: 0.5;
}

50% {
-webkit-transform: scale(1.75);
opacity: 0;
}

100% {
-webkit-transform: scale(0);
opacity: 0;
};
}